# Python
__pycache__/
*.py[cod]
*$py.class
.python-version

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.*

temp/
server.log

# System Files
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project